<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Start a New Session</h1>
        <form id="login-form">
            <label for="email">Admin Email:</label>
            <input type="email" id="email" name="email" placeholder="which used on the cicd software" required>
            <button type="submit">Start Session</button>
        </form>
        <p id="message"></p>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
